SITE_URL=https://qiuhai.net.cn
PUBLIC_INDEXING=true
PUBLIC_SHOW_PRODUCT_PURCHASE=false
ICP_NUMBER=闽ICP备2026028446号-1
ICP_URL=https://beian.miit.gov.cn/
PUBLIC_SECURITY_NUMBER=闽公网安备35018102240193号
PUBLIC_SECURITY_URL="https://beian.mps.gov.cn/#/query/webSearch?code=35018102240193"
